---
// layouts
import MainLayout from "@layouts/MainLayout.astro";
import RepeatedLayout from "@layouts/RepeatedLayout.astro";
// components
import Hero from "@components/Hero.astro";
import LinkButton from "@components/ui/LinkButton.astro";
import Modal from "@components/ui/Modal.astro";
import Communities from "@components/Communities.astro";
import CardsFilter from "@components/CardsFilter.astro";
import ContinentCard from "@components/ui/ContinentCard.astro";


const inStaticMode = await import.meta.env.STATIC_MODE;
console.log('inStaticMode: ', inStaticMode);

let api_url;

inStaticMode === "true" 
	? api_url = new URL(`http://localhost:5000/api/countries`)
	: api_url = new URL(`/api/countries`, Astro.url);

const response = await fetch(api_url);
const data = await response.json();

const countries = data;

// console.log(countries);

const europe = {
  "name": "Europe",
  "id": "0",
  "flag": "eu",
  "games": [
    {
      "name": "ultimate",
      "links": [
        {
          "type": "discord",
          "url": "https://discord.gg/x4Kugf2"
        }
      ]
    },
    {
      "name": "melee",
      "links": [
        {
          "type": "discord",
          "url": "https://discord.gg/PBZNzg6eyF"
        }
      ]
    },
    {
      "name": "project-plus",
      "links": [
        {
          "type": "discord",
          "url": "https://discord.gg/rXA5NVPPA6"
        }
      ]
    },
    {
      "name": "smash-64",
      "links": [
        {
          "type": "discord",
          "url": "https://discord.gg/gxBbhk9"
        }
      ]
    },
  ]
};

---

<MainLayout title="European Smash Communities">
 	
	<Hero title="Welcome to SmashEurope!" showCommunityBtn={false} showHomeBtn={true}>
		<p>The European Smash community has been active for over two decades. It's made up of a grassroots scene fragmented into various communities. SmashEurope was launched in January of 2015 as central hub into this community.</p>

		<p>On this page you can find your local European Smash community, links to an overview of major events to compete in as well as the central European Tournament Calendar offering a more complete overview. This calendar is also used by European tournament organizers to lock in event dates to prevent event overlap. </p>
		<p>You're encouraged to follow our social accounts to stay in the loop of developments in the scene.</p>
				
		<p>Best of luck on your Smash journey!</p>
		<p class="text-se-dark">—The SmashEurope Development Team</p>
	</Hero>

  <section id="continent-wide">
    <div class="mx-auto w-full flex justify-center pt-10">
        <ContinentCard continent={europe} />
    </div>
  </section>

  <Communities countries={countries} />
	
	<section>
		<div class="container mx-auto max-w-6xl my-10">
			<div class="flex justify-center p-8">
				<div class="grid grid-cols-1">
					<LinkButton icon="community" newTab={true} text="Community Spreadsheet" url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8" classes="flex gap-2 items-center"/>
					<div class="text-center text-sm mt-2">see for a full overview</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container mx-auto max-w-6xl my-10 space-y-8">
			<div class="flex justify-center px-5">

				<div class="grid grid-cols-3">
					<LinkButton icon="more" text="Major Events" url="/events" colors="bg-se-blue-300 hover:bg-se-blue-400 text-white" 
						classes="flex gap-2 items-center" id="events-more" tooltipText="View Featured Events Page"/>
					<Modal icon="calendar" title="European Tournament Calendar" 
						dialogClasses="w-9/12" classes="justify-self-center" btnClasses="h-full" 
						buttonId={'events-calendar'} tooltipText={`European Tournament Calendar`}>
            <main slot="main" class="block w-full h-full">
              <div class="relative w-full h-full p-5 pt-0">
                <iframe src="https://teamup.com/ksbsj1366v93kqovju?showLogo=0&showSearch=1&showProfileAndInfo=0&showSidepanel=1&showTitle=0&showMenu=1&showAgendaHeader=1&showAgendaDetails=0&showYearViewHeader=1" style="height: 70vh; width: 100%; overflow-x: hidden;" frameborder="0"></iframe>
              </div>
              
            </main>
          </Modal>
					<LinkButton icon="history" text="Past Events" url="/events/past-events" classes="flex gap-2 items-center" 
						id="events-past" tooltipText="See Past Featured Events" />
				</div>
			</div>
		</div>
		
	</section>
  
	<section>
		<div class="container mx-auto max-w-6xl mt-20">
			<div class="flex justify-center">

				<div class="grid grid-cols-1">
					<LinkButton icon="home" text="Back Home" url="/" classes="flex gap-2 items-center"/>
				</div>
			</div>
		</div>
	</section>

</MainLayout>

